<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hangman - Your Illiteracy is His Demise!</title>
    </head>
    <body>
        <%= yield %>
    </body>
    <footer>
    This a CoolGlasses Creation
    </footer>
</html>